<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" type="text/css" href="../../../../static/tdh/reset.css">
	<script src="../../../../static/lib/jquery.min.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript" src="../../../../static/plugg/layui/lay/modules/layer.js" ></script>
	<link rel="stylesheet" type="text/css" href="../css/layer.css"/>
</head>
<body>
	<script>
		layer.msg('加载中，请稍候...',{area: ['200px','200px'],shade:.6,time: 0,skin:'layui_msg_loading'});
	</script>
</body>
</html>
