<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title></title>
	<link rel="stylesheet" href="../../../static/tdh/reset.css" />
	<link rel="stylesheet" href="../../../static/tdh/layout/css/layout.css" />
	<script type="text/javascript" src="../../../static/lib/jquery.min.js" ></script>
	<script type="text/javascript" src="../../../static/tdh/layout/js/tdh.layout.js" ></script>
</head>
<body>
	<div class="tdh_layout tdh_layout_tcb">
		<div class="tdh_layout_t" style="height: 80px; background-color: #ccc;">上</div>
		<div class="tdh_layout_c">中
			<!--注释开始-->
			<div style="padding: 0 10px;">
				<div style="background: #f0f0f0; border-top: 2px dashed #ddd; margin: 20px 0;">
					<h3>-->用例</h3>
					<xmp><link rel="stylesheet" href="../../../static/tdh/reset.css" /></xmp><br />
					<xmp><link rel="stylesheet" href="../../../static/tdh/layout/css/layout.css" /></xmp><br />
					<xmp><script type="text/javascript" src="../../../static/lib/jquery.min.js" ></script></xmp><br />
					<xmp><script type="text/javascript" src="../../../static/tdh/layout/js/tdh.layout.js" ></script></xmp><br />
				</div>
				<div style="background: #f0f0f0; border-top: 2px dashed #ddd; margin: 20px 0;">
					<xmp><div class="tdh_layout tdh_layout_tcb">  |   必须有类名：   tdh_layout_tcb</xmp><br />
					<xmp>	<div class="tdh_layout_t">上</div></xmp><br />
					<xmp>	<div class="tdh_layout_c">中</div></xmp><br />
					<xmp>	<div class="tdh_layout_b">下</div></xmp><br />
					<xmp></div></xmp>
				</div>
			</div>
			<!--注释结束-->
		</div>
		<div class="tdh_layout_b" style="height: 80px;background-color: #ccc;">下</div>
	</div>
</body>
</html>
